@model Projeto_Conexao_MYSQL.Models.Produto

@{
    ViewData["Title"] = "Cadastro Produto";
}

<div class="container mt-4" style="max-width: 600px;">
    <h2>Cadastrar Novo Produto</h2>
    <hr />

    <form asp-action="Cadastrar" method="post" class="mt-3">
        <div class="mb-3">
            <label class="form-label">Nome do Produto</label>
            <input asp-for="NomesProdutos" class="form-control" placeholder="Ex: Monitor Full HD" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Quantidade em Estoque</label>
            <input asp-for="Estoques" type="number" class="form-control" placeholder="Ex: 10" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Preço Unitário</label>
            <input asp-for="Precos" class="form-control" placeholder="Ex: 160.00" required />
        </div>     

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Salvar no SQL Server</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Voltar para a Lista</a>
        </div>
    </form>
</div>